body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cor de fundo */
}

h1 {
    background-color: #0284c7; /* Cor principal para cabeçalhos */
    color: white;
    padding: 20px;
    margin-top: 0;
}

button {
    background-color: #0284c7; /* Cor dos botões */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0369a1; /* Cor dos botões ao passar o mouse */
}

a {
    text-decoration: none;
    color: #0ea5e9; /* Cor dos links */
    font-size: 18px;
}

a:hover {
    color: #075985; /* Cor dos links ao passar o mouse */
}

ul, ol {
    list-style-type: none; /* Remove os marcadores/bolinhas padrão */
    padding: 0; /* Remove o espaçamento interno padrão */
    margin: 0; /* Remove o espaçamento externo padrão */
}